#container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  background-color: #c2151e;
}

.experienceContainer {
  font-family: Staatliches;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;

  padding: 70px 0 20px 0;

  h1 {
    margin: 0;
    font-weight: bold;
    font-size: 5em;
    em {
      color: white;
    }
  }

  p {
    margin: 0;
    font-size: 2em;
    color: white;
  }
}
