#container {
  font-family: sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  background-color: white;
}

.testimonial {
  margin: 70px 30px 70px 30px;

  em {
    font-family: Staatliches;
    font-size: 2em;
  }
}

.clients {
  width: 90%;
  text-align: right;
  font-weight: bold;
  color: #e7b019;
}
